html {
    height: 100%;
}

.border {
    border: 2px solid black !important;
    border-radius: 50%;
}
body {
    background: url('/media/openingimage.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}
.text-box {
    background-color: rgba(255,255,255,0.5);
}
.sub-title {
    font-size: 2rem;
}
.text-black {
    color: black;
}
.title {
    padding-top: 10px;
    font-size:4rem;
}
.fa-paw{
    font-size: 2.5rem !important;
    
}
#topnav {

    background: transparent !important;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: capitalize;
}

.main-logo-link {
    width: fit-content;
}


/* Media Queries */


/* @media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position:fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .header-container {
        padding-top: 164px;
    }
} */